/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./responsive.scss";

// SideBar styles
.sidebar-container .ps-sidebar-container {
  background-color: #fff;
  height: 100vh;
  color: #000;
}
.ps-sidebar-root {
  border: none !important;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: inherit;
}
.design {
  width: 20rem !important;
}
