/** @format */

.panel {
  display: none;
}
.panel.active {
  display: block;
}
.studentGroupBtn {
  &:hover {
    background-color: white;
    box-shadow: rgba(165, 165, 165, 0.663) 0px -50px 36px -28px inset;
    transform: scaleX(1.2);
    font-weight: 600;
    transition: box-shadow 1s ease, transform 1s ease, font-weight 0.3s ease;
  }

  transition: box-shadow 1s ease, transform 1s ease;
  // @keyframes shadowAnimation {
  //   0% {
  //     box-shadow: rgba(227, 227, 227, 0.663) 0px -50px 36px -28px inset;
  //   }
  //   50% {
  //     box-shadow: rgba(180, 180, 180, 0.663) 0px -50px 36px -28px inset;
  //   }
  //   100% {
  //     box-shadow: rgba(165, 165, 165, 0.663) 0px -50px 36px -28px inset;
  //   }
  // }
  // @keyframes fontWidthAnimation  {
  //   0% {
  //     transform: scaleX(1);
  //   }
  //   50% {
  //     transform: scaleX(1.2);
  //   }
  //   100% {
  //     transform: scaleX(1);
  //   }
  // }
}
.studentIconCard {
  transition: all 0.3s ease-out;

  &:hover {
    font-size: 1.1em;
  }
}
.studentCarImg {
  &:hover {
    transform: scale(0.9);
  }
}
.studentBtn {
  transition: all 0.5s ease-out;

  &:hover {
    box-shadow: 10px 10px 0px -6px rgba(0, 0, 0, 0.81);
  }
  .spinIcon {
    animation: spin 6s infinite linear;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
.insideInput {
  background-color: #ffeddf;
}
